@charset "UTF-8";
/* step_01.scss */
/* 기본 변수 설정 */
#wrap { width: 100%; min-width: 960px; height: auto; min-height: 1000px; margin: -0px auto; background-color: #fae; }

#headBox { width: 100%; height: 150px; background-color: #ff77e4; }

#headBox h1 { color: #fae; }

#headBox h1:hover { color: #aa0088; }

#adBox { width: 100%; height: 450px; background-color: light(rgba(150, 200, 50, 0.5), 20%); }

#adBox h2 { width: 100%; height: auto; background-color: #0af; }

#adBox h2:hover { color: #aa0088; }

/* h2를 따로 작성하는 경우, 문서에 있는 모든 h2에 값이 들어가겠지만,  adBox{h2{..}..}라고 작성하게 되면, adBox안에 있는 h2에만 값이 적용됨. */
/* nesting기법에서 주의할 점!  1. 중괄호{}가 많아지기 때문에, 되도록 4개 이상은 사용하지 마시길.. 2. 중괄호{}가 끝나는 부분엔 반드시 해당 영역의 주석을 달아주어라! */
#content { width: 100%; height: 500px; background-color: #ff11cf; }

#footBox { width: 100%; height: 50px; background-color: #dd00b1; }
