// main.scss
// main.css로 이동시킬 것임.

body{background-color:#faa;}
h1{background-color:#ffa; color:#333; padding:0.5em;}
h2{background-color:#aff; color:#aaf; font-size:2em;}
#wrap{width: 540px;height:300px;}
#headBox{width:340px; height: 100px;background-color:#aaa;}
section{widows: 100%;height: 200px;background-color:#aca;}
