#wrap{width:1900px; height:auto;}

#headBox{width:100%; height: 120px;
      padding-top:45px; box-sizing:border-box; 
      border-bottom:20px solid #fff; z-index:100; position:absolute;}
  h1{width: 170px; height: 55px; margin-left:500px;
     background-image:url(../../img/logo_color.png);
     background-size:100%; background-repeat:no-repeat; float:left;}
  .gnb{width: 570px;height: 30px; 
       margin-left:130px; margin-top:20px; float:left;}
  .gnb>ul{width: 100%;height: 100%; font-size:1.5em; text-align:center;
          color:#fff;}
  .gnb>ul>li{width:90px; margin-right:65px; float:left;}
  .gnb>ul>li:first-child{width: 100px;}
  .gnb>ul>li:last-child{margin-right:0;}
  .gnb>ul>li>a:hover{border-bottom:3px solid #f30; color:#ffa;}

#contentBox{width:100%; height:auto;}
  .adImageBox{height: 900px; position:relative;
              background-image:url(../../img/ad_image_4.png);
              background-repeat:no-repeat;}
  .tabBox{height:900px; background-color:#333;
          border-top:80px solid #666; position:relative;}
    .tabBox>ul{width: 606px;height:auto; margin-left:480px;
               background-color:#eaa; position: absolute; z-index:100;
               top:-62px;}
    .tabBox>ul>li{width: 200px;height: 60px; border:1px solid #900;
                  float:left; line-height:60px;text-align:center;}
    .tabBox>ul>li>button{width: 100%;height: 100%;font-size:1.3em;}
    .tabBox>.tab_text{width: 940px;height: 670px;margin-left:480px;
                      background-color: #eee; display:block;}
    .tabBox>.tab_text>.tab_1{width: 100%;height: 100%;}
    .tabBox>.tab_text>.tab_2{width: 100%;height: 100%;}
    .tabBox>.tab_text>.tab_3{width: 100%;height: 100%;}
  .adImage_01{height:300px;
              background-image: url(../../img/ad_image_1_1.png);
              background-size:cover;
              background-repeat: no-repeat;
              background-attachment:fixed;}
    .adImage_01>p{line-height:300px; font-size:4em;color:#fff;
                  text-shadow:0 5px 5px #333;text-align:center;}
  .accordionBox{height:860px; background-color:#333;
                color:#333; padding-top:100px; box-sizing:border-box;}
    .accordionBox>dl{width:940px;height:auto;margin-left:480px;
                     background-color:#faa;}
    .accordionBox>dl>dt{width:100%; height:inherit;}
    .accordionBox>dl>dt>button{width:100%; height: 80px;
                            background-color:#afa; border:1px solid #3f9;
                            color:#333; font-size:1.5em;}
    .accordionBox>dl>dd{width:100%;height: 350px;background-color:#ffa;}
  .adImage_02{height:300px; background-color:#faa;
              background-image:url(../../img/ad_image_2_1.png);
              background-size:cover;
              background-attachment:scroll;
              background-repeat:no-repeat;
              text-align:center; font-size:4em; color:#fff;
              text-shadow:0 5px 5px #333;}
    .adImage_02>p{line-height:300px;}
  .issueIcon{height:500px; background-color:#333;
             padding-top: 110px; padding-left: 380px;
             box-sizing:border-box;}
    .issueIcon>ul{width: 1115px; height: 285px;}
    .issueIcon>ul>li{width: 285px;height: 285px;border-radius: 150px;
                      margin-right:130px; float:left;
                      background-image:url(../../img/issueIcon.png);
                      background-repeat:no-repeat;}
    .issueIcon>ul>li:nth-child(2){background-position:-330px;}
    .issueIcon>ul>li:nth-child(3){background-position:-640px;
                                   margin-right:0;}
  .slideImage{height:800px; background-color:#faa;}
  .textBox{height:400px; background-color:#fff; text-align:center;
           padding-top:150px; box-sizing:border-box;}
    .textBox>h3{font-size:3em;}
  .galleryBox{height:800px; background-color:#faa;}

#footBox{width:100%; height: 240px;background-color:#333;
         position:relative; padding-top:95px; box-sizing:border-box;}
  #footBox:after{border-bottom:3px solid #999; position:absolute;
                 z-index:50; top:50px; content:" "; display:block;
                 width: 100%; height: 3px;}
  #footBox>h3{width: 175px;height: 60px; margin-left:605px; 
              margin-right: 10px;
              background-image:url(../../img/logo_color.png);
              background-size:100%; background-repeat:no-repeat;}
